:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  padding: 2rem;
}

a {
  color: inherit;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  width: 100%;
}

form input {
  margin-left: 2rem;
  height: 2rem;
  width: 15rem;
}

/* Center tables for demo */
table {
  margin: 0 auto;
  max-width: 1200px;
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
table tbody tr td:last-of-type {
  text-decoration: underline;
  cursor: pointer;
}
table thead th,
table tfoot th {
  color: #777;
  background: rgba(0, 0, 0, 0.1);
}
table caption {
  padding: 0.5em;
}
table th,
table td {
  padding: 0.5em;
  border: 1px solid lightgrey;
  word-wrap: break-word;
}
/* Zebra Table Style */
[data-table-theme*='zebra'] tbody tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05);
}
[data-table-theme*='zebra'][data-table-theme*='dark']
  tbody
  tr:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.05);
}
/* Dark Style */
[data-table-theme*='dark'] {
  color: #ddd;
  background: #333;
  font-size: 12pt;
  border-collapse: collapse;
}
[data-table-theme*='dark'] thead th,
[data-table-theme*='dark'] tfoot th {
  color: #aaa;
  background: rgba(0255, 255, 255, 0.15);
}
[data-table-theme*='dark'] caption {
  padding: 0.5em;
}
[data-table-theme*='dark'] th,
[data-table-theme*='dark'] td {
  padding: 0.5em;
  border: 1px solid grey;
}
